* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sort-section {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 16px 0;
}

.search-name {
    font-weight: 600;
    font-size: 24px;
}
.sort-section {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 16px 0;
}
.filter-drop-down {
    min-width: 260px;
}
.searchbar {
    display: flex;
    align-items: center;
    background-color: #ccd6d5;
    border-radius: 8px;
    overflow: hidden;
    height: 73px;
    margin-left: 0;
    margin-right: 0;
}
.search-btn {
    height: 100%;
    border-radius: 0px;
    font-weight: 600 !important;
    color: #fff;
}
.search-input {
    flex: 1;
    padding-left: 16px;
}
.company-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    border-radius: 8px;
    padding: 8px 0;
    background-color: #fff;
    width: 100%;
}
.company-sort-btn {
    width: 25%;
}

.sort-section {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 16px 0;
}
.filter-drop-down {
    min-width: 260px;
}
.search {
    background-color: #fff;
    min-height: 250px;
    padding-left: calc(3 * var(--mui-spacing));
    padding-right: calc(3 * var(--mui-spacing));
}
.search-name {
    font-weight: 600 !important;
    font-size: 24px !important;
}
.page {
    min-height: 80vh;
    width: 100%;
    background-color: #fff;
    margin-top: 8px;
}
.setting-page {
    min-height: 80vh;
    background-color: #fff;
    margin-top: 8px;
    width: unset;
    display: flex;
}
